.container {
  max-width: 1300px;
}

a:hover {
  outline: 0;
}

.navbar-collapse {
  flex-grow: inherit;
}

ul {
  margin: inherit;
}

li {
  list-style: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

header {
  padding: 22px 0;
}
header nav ul .header-icon:first-of-type {
  margin-right: 29px;
}
header nav .nav-item:nth-child(1) {
  margin-right: 18px;
}
header nav .nav-item:nth-child(2) {
  margin-right: 19px;
}
header nav .nav-item:nth-child(3) {
  margin-right: 29px;
}
header nav .nav-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.main-banner .container .main-wrap {
  background-color: #DCE5E2;
  border-radius: 33px;
}
.main-banner .container .main-wrap article {
  max-width: 560px;
  position: relative;
  top: 145px;
  left: 56px;
}
@media screen and (max-width: 992px) {
  .main-banner .container .main-wrap article {
    max: width 420px;
    top: 80px;
    left: 30px;
    max-width: 450px;
  }
}
@media screen and (max-width: 834px) {
  .main-banner .container .main-wrap article {
    top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .main-banner .container .main-wrap article {
    max-width: 400px;
    top: 30px;
    left: 30px;
  }
}
@media screen and (max-width: 428px) {
  .main-banner .container .main-wrap article {
    max-width: 280px;
  }
}
@media screen and (max-width: 320px) {
  .main-banner .container .main-wrap article {
    max-width: 250px;
  }
}
.main-banner .container .main-wrap h1 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .main-banner .container .main-wrap h1 {
    line-height: 60px;
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 768px) {
  .main-banner .container .main-wrap h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 428px) {
  .main-banner .container .main-wrap h1 {
    font-size: 48px;
    line-height: 50px;
  }
}
.main-banner .container .main-wrap p {
  font-family: "Inter" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (max-width: 798px) {
  .main-banner .container .main-wrap p {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 764px) {
  .main-banner .container .main-wrap p {
    font-size: 14px;
  }
}
.main-banner .container .main-wrap a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding: 14px 53px;
  border: 1px solid #000000;
  border-radius: 200px;
  display: inline-block;
}
.main-banner .container .main-wrap .img {
  max-width: 426px;
  margin-top: 44px;
}
.main-banner .container .main-wrap .img img {
  display: block;
  width: 100%;
}

.offer {
  padding: 72px 0;
}
.offer .offer-h2 {
  padding: 0 15px;
}
.offer .offer-h2 h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
}
@media screen and (max-width: 458px) {
  .offer .offer-h2 h2 {
    font-size: 32px;
    line-height: 32px;
  }
}
.offer .offer-h2 p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 55px;
}
@media screen and (max-width: 615px) {
  .offer .offer-h2 p br {
    display: none;
  }
}
.offer .container .row .ipad {
  padding: 80px 0;
}
.offer .container .row .two-ph {
  padding: 143px 0;
}
.offer .container .row .card .img-mac-book {
  max-width: 500px;
}
.offer .container .row .card .img-apple-w {
  max-width: 380px;
}
.offer .container .row .card .img-two-ph {
  max-width: 312px;
}
.offer .container .row .card .card-body p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  padding-right: 42px;
}
.offer .container .row .card .card-body h5 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  padding-right: 42px;
}
.offer .container .row .col-md-6 .card-apple-w {
  padding: 0;
  padding-top: 70px;
}

.catalog {
  padding-top: 72px;
}
.catalog .offer-h2 {
  margin-bottom: 60px;
}
.catalog .img {
  max-width: 247px;
  padding-left: 48px;
  margin-bottom: 33px;
}
@media screen and (max-width: 1200px) {
  .catalog .img {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .catalog .card {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .catalog .card {
    display: flex;
    justify-content: center;
  }
}
.catalog .card .card-body h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .catalog .card .card-body h5 {
    text-align: center;
  }
}
.catalog .card .card-body p:first-of-type {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
}
@media screen and (max-width: 768px) {
  .catalog .card .card-body p:first-of-type {
    text-align: center;
    max-width: 300px;
  }
}
.catalog .card .card-body p:last-of-type {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .catalog .card .card-body p:last-of-type {
    text-align: center;
  }
}

.sentence {
  padding: 72px 0;
}
.sentence .offer-h2 {
  margin-bottom: 56px;
}
.sentence .container .row .img {
  max-width: 259px;
}
.sentence .container .row .card {
  padding: 40px 77px 0 77px;
  background: #F8F9FA;
  border-radius: 16px;
}
.sentence .container .row .card .card-body p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}
.sentence .container .row .card .card-body h5 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .sentence .container .row .card .card-body h5 {
    font-size: 24px;
    line-height: 24px;
  }
}
.sentence .container .row .card .card-body a {
  padding: 14px 63px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  border-radius: 200px;
  margin-bottom: 30px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .sentence .container .row .card .card-body a {
    padding: 10px 30px;
  }
}

.ideas {
  padding-bottom: 72px;
}
.ideas .offer-h2 {
  margin-bottom: 56px;
}
.ideas .container {
  margin-bottom: 74px;
}
@media screen and (max-width: 500px) {
  .ideas .container {
    margin-bottom: 16px;
  }
}
.ideas .container .row .img {
  max-width: 620px;
}
@media screen and (max-width: 1200px) {
  .ideas .container .row .img {
    margin-bottom: 30px;
  }
}
.ideas .container .row p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 23px;
}
@media screen and (max-width: 768px) {
  .ideas .container .row p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
.ideas .container .row .text {
  padding-top: 14px;
}
@media screen and (max-width: 768px) {
  .ideas .container .row .text {
    padding: 0;
  }
}
.ideas .see-all {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.ideas .see-all::after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow.svg);
  width: 30px;
  height: 28px;
  position: relative;
  bottom: -5px;
  left: 2px;
}

.search .offer-h2 h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 14px;
}
.search .container .svg {
  max-width: 30px;
}
.search .container .input_search {
  text-decoration: none;
}
.search .container .__search {
  padding: 15px 0 15px 16px;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  background: #F8F9FA;
}
.search .container .__search p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.search .container .__search .svg {
  margin-right: 20px;
}
.search .container .input-btn {
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  padding: 12px 22px 13px 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 7px;
  text-align: center;
}
@media screen and (max-width: 1113px) {
  .search .container .input-d {
    display: none;
  }
}